version: "1.0.0"

services:
  app:
    image: "repository_pattern:latest"
    depends_on:
      - redis
    ports:
      - 8080:8080
    environment:
      APP_HOST: 0.0.0.0
      APP_PORT: 8080
      REDIS_HOST: redis
      REDIS_PORT: 6379
      VENDOR_ENDPOINT: https://api.coindesk.com/v1/bpi/currentprice.json

  redis:
    image: "redis:7.0.0-alpine"
    command: redis-server --save 20 1
    ports:
      - 6379:6379
#      - 6380:6379